#head {
  height: 270px;
  width: 100%;
  background: url(https://images7.alphacoders.com/363/363760.jpg);
  background-size: cover;
}

#color-overlay {
  background: rgba(230, 126, 34, 0.90);
  z-index: 2;
  width: 100%;
  height: 100%;
}

#titel {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 30px;
  font-size: 70px;
}

#nav-buttons {
  float: right;
  margin: 20px;
}

ul.nav-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: inline;
}

li {
    float: right;
}

a.active {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  margin-top: 20px;
  margin-right: 10px;
}

a.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
}

a.link:hover {
    background-color: rgba(255,255,255,0.1);
}

a {
  color: inherit;
}

body{
  background-color: #F5F5F5;
}

a.button:hover{
     background: #F5F5F5;
}
